#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form{
  width:600px;
  height: 450px;
  border: 1px solid black;

}
label{
  display: block;
  margin-left: -300px;
  margin-top: 30px;
  
}
input{
  width:400px;
  margin-bottom: 30px;
  height: 22px;
  border: none;
  cursor: pointer;
}
#submit{
  width:120px;
  height: 35px;
  background-color:#387ADF ;
  margin-top: 20px;
 font-size: 18px;
 border-radius: 4px;
 
}
/* p{
  margin-top: -10px;
  margin-left: -200px;
  color: red;
} */

.email-p{
  margin-top: -10px;
  margin-left: -266px;
  color: red;
}
.password-p{
  margin-top: -10px;
  margin-left: -150px;
  color: red;
}
.confirm-p{
  margin-top: -20px;
  margin-left: -250px;
  color: red;
}

.read-the-docs {
  color: #888;
}
